* {
    max-width: 980px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    margin: 50px;
    border: 1px solid gray;
}

.spacing {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 80px 100px 0px;

}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    
}

h1, h2 {
    text-transform: uppercase;
    margin: auto;
    font-weight: 500;
}

h1{
    font-size: 2em;
    letter-spacing: 3px;

}

h2 {
    color: #006eb6;
    font-size: .75em;
    letter-spacing: 4px;

}

p.first {
    border-top: 1px solid lightgray;
    padding-top: 50px;
    margin-top: auto;
}

img {
    width: 150px;
    margin: 30px 0px;
}

