body{
    font-family: 'Courier New', Courier, monospace;
}

.card-front, .card-back{
    background-color: lightgray;
}

form {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 1fr;
    gap: 20px;
}
.card-front {
    grid-row: 1/3;
    grid-column: 1/3;
    z-index: 1;
}

.card-back {
    grid-row: 2/4;
    grid-column: 2/4;
}

button {
    grid-row: 4;
    grid-column: 3;
}